<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>exam</title>
    <script src="angular.min.js"></script>
</head>
<h1 style="text-align: center;">IT Caffee</h1>
<br/>
<div ng-app="myApp" ng-controller="myCtrl" style="margin-left: 5%;font-size: 20px;">
    <form name="myForm">
        <span>Chọn đồ uống</span>
        <select name="cars" ng-model="menu" id="menu">
            <option value="27000">Coffee</option>
            <option value="26000">Trà Sữa</option>
            <option value="28000">Trà Đào</option>
            <option value="25000">Nước Cam</option>
        </select>
        <div ng-switch="menu">
            <div ng-switch-when="27000">
                <h1>Coffee</h1>
                <p>Giá tiền : 27000 VND</p>
            </div>
            <div ng-switch-when="26000">
                <h1>Trà Sữa</h1>
                <p>Giá tiền : 26000 VND</p>
            </div>
            <div ng-switch-when="28000">
                <h1>Trà Đào</h1>
                <p>Giá tiền : 28000 VND</p>
            </div>
            <div ng-switch-when="25000">
                <h1>Nước Cam</h1>
                <p>Giá tiền : 25000 VND</p>
            </div>
        </div><br />
        <br />
        Nhập số lượng :
        <input type="number" ng-model="exp" id="exp" name="exp" required min="0"><br />
        <br />
        Size
        <select ng-model="size">
            <option value="1">M</option>
            <option value="1.2">L</option>
        </select><br>
        <br>
        <input type="button" value="thanh tien" ng-click="Calc()" /><br>
        <h3>Sô tiền thuế VAT : {{tax | currency : 'VND '}}</h3>
        <h3>Tổng tiền thanh toán : {{total | currency : 'VND '}}</h3>
    </form>
</div>
<script>
    var app = angular.module('myApp', []);
    app.controller('myCtrl', function ($scope) {
        $scope.exp = 0;
        $scope.menu = 0;
        $scope.tax = 0;
        $scope.size = 0;
        $scope.total = "";

        $scope.Calc = function () {

            $scope.tax = $scope.exp * ($scope.menu * $scope.size) * 0.1;
            $scope.total = $scope.exp * ($scope.menu * $scope.size) + $scope.tax;
        }
    });
</script>
</body>

</html>